{% extends 'customer/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block body %}




<div class="main-wrap">
    <div class="cover_1 cover_sm">
        <div class="img_bg" style="background-image: url({% static 'site_static/img/imgSE105.jpeg' %});"
            data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7" data-aos="fade-up">
                        <h2 class="heading">Dashboard</h2>
                        <p class="lead"></p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .cover_1 -->

    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="card col-md-5 mr-3">
                <h4 class="text-center pt-2">Today's Total Revenue</h4>
                <h1 class="text-center" style="color: green;">${{ total_revenue }}</h1>
            </div>

            <div class="card col-md-5 mr-3">
                <h4 class="text-center pt-2">Today's Total Orders</h4>
                <h1 class="text-center" style="color: #ad0003;">{{ total_orders }}</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-12 mt-5">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Price</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Street</th>
                            <th scope="col">City</th>
                            <th scope="col">State</th>
                            <th scope="col">Zip Code</th>
                            <th scope="col">Is Paid?</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <th scope="row">{{ order.pk }}</th>
                            <td>{{ order.price }}</td>
                            <td>{{ order.name }}</td>
                            <td>{{ order.email }}</td>
                            <td>{{ order.street }}</td>
                            <td>{{ order.city }}</td>
                            <td>{{ order.state }}</td>
                            <td>{{ order.zip_code }}</td>
                            <td>
                                {% if order.is_paid %}
                                <i style="color: green;" class="fa fa-check"></i>
                                {% else %}
                                <i style="color: red;" class="fa fa-times"></i>
                                {% endif %}

                            </td>
                            <td><a href="{% url 'order-details' order.pk %}"><i class="fa fa-edit"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> <!-- .main-wrap -->


{% endblock body %}