{% extends 'customer/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block body %}



<div class="main-wrap">
    <div class="cover_1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12" data-aos="fade-up">
                    <h2 class="heading">
                    </h2>
                </div>
            </div>
        </div>
    </div> <!-- .cover_1 -->



    <div class="container mb-5">
        <div class="row justify-content-center mt-1">
            <div class="col-md-5 col-sm-12 p-4 text-center">
                <h1> Sent!</h1>
                <p>Thank you for your email. We will bet back to you soon.</p>
                <a href="/">Go to the homepage</a>
            </div>
        </div>
    </div>


</div> <!-- .main-wrap -->

{% endblock body %}